{% extends "layout.html" %}

{% block content %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        document.querySelector(".about-link")?.classList.add("active");
        });
    </script>
    <div class="container mt-5">
        <h1 class="text-center mb-4 heading-font">{{ about.title }}</h1>
    </div>

    <p style="font-size: 20px;">
        Welcome to our piano learning site! We’re a team of three friends and engineers who believe music should be fun, interactive, and accessible for everyone.</br>

        <b>Emma Li</b> – Senior studying Computer Engineering at Columbia. Loves designing creative tools and locking down site in Valorant.</br>

        <b>Natalie Hughes</b> – Senior studying Computer Engineering at Columbia. Passionate about hands-on projects and perfecting her K/D ratio.</br>

        <b>Anna Sun</b> – Sophomore Computer Science major at Barnard. Into intuitive design, educational tech, and top-fragging on a good day.</br>
        
        Outside of engineering and music, we’re all gamers at heart. This site grew out of our shared love for building cool things and bonding over late-night Valorant queues. Whether you’re learning your first scale or practicing your hundredth song, we hope this project makes piano more playful.
    </p>

    
{% endblock %}