{% extends "layout.html" %}

{% block content %}
<div class="text-center mt-5">
    <h1 class="display-4 heading-font">Learn to Play the Piano</h1>
    <form action="{{ url_for('piano_basics', step=1) }}">
      <button type="submit" class="btn btn-outline-dark mt-4">Start</button>
    </form>
  </div>
  
  <div class="piano mt-5" id="piano"></div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
          document.querySelector(".home-link").classList.add("active");
        });
    </script>
{% endblock %}