<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <!-- css and js -->
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
    <script src="{{ url_for('static', filename='layout.js') }}"></script>
  
    <title>UI Design Final Project</title>

    <!-- fredoka and sniglet fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Sniglet:wght@400;800&display=swap" rel="stylesheet">

    <style>
      .heading-font {
        font-family: 'Fredoka', sans-serif; 
        color: #e7c7fc;
        text-shadow:
          -3px -3px 2px #766b94, 
          3px -3px 2px #766b94,
          -3px  3px 2px #766b94, 
          3px  3px 2px #766b94;

        font-size: 75px;
        font-weight: bold;
      }

      .navbar-text {
        font-family: 'Fredoka', sans-serif;
        color: #626262;
        font-size: 17px;
      }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light" >
      <div class="container px-5" style="box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.2); border-bottom: 2px solid #e7c7fc; background-color: #e7c7fc;">
        <div class="collapse navbar-collapse ml-auto" id="navbarNavAltMarkup">
          <div class="navbar-nav" style="padding: 10px;">
            <a class="nav-link home-link navbar-text" href="{{ url_for('home') }}">Home</a>
            <a class="nav-link piano-link navbar-text" href="{{ url_for('piano_basics', step=1) }}">Piano Basics</a>
            <a class="nav-link quiz-link navbar-text" href="{{ url_for('quiz', index=0) }}">Quiz</a>
            <a class="nav-link song-link navbar-text" href="{{ url_for('song_list')}}">Song List</a>
            <a class="nav-link learn-link navbar-text" href="{{ url_for('learn_song', song='1') }}">Learn Song</a>
            <a class="nav-link practice-link navbar-text" href="{{ url_for('song_list') }}">Practice</a>
            <a class="nav-link about-link navbar-text" href="{{ url_for('about') }}">About</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">   
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>